**/__pycache__/**
**/.pyc_*/**
*.pyc
**/Samples/**
Ivs_$.ini
*.log
.vscode
__pychache__
.idea/
.venv/
build
dist
Debug
*.ply
*.lib
*.pdb
*.exp
*.pcd
*.db
*.nxlog
*.sublime-project
*.sublime-workspace
Entwicklung/Logs/
Data/
!/Entwicklung/Data/
!**/Entwicklung/_Docs/measurement_protocols/
**/.nicegui/
**/**/.nicegui/
**/Tmp/